In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import os
import glob
import datetime

%matplotlib inline

In [2]:
df = pd.read_csv("..\\data\\raw\\USDA_countylevel_acresplanted.csv")
df.head()

,Unnamed: 0,year,county_code,state_fips_code,county_name,state_alpha,short_desc,Value
0,1,1992,33,1,COLBERT,AL,CORN - ACRES PLANTED,5000.0
1,2,1992,59,1,FRANKLIN,AL,CORN - ACRES PLANTED,4200.0
2,3,1992,77,1,LAUDERDALE,AL,CORN - ACRES PLANTED,7900.0
3,4,1992,79,1,LAWRENCE,AL,CORN - ACRES PLANTED,5300.0
4,5,1992,83,1,LIMESTONE,AL,CORN - ACRES PLANTED,6100.0

In [5]:
import plotly.graph_objs as go
from plot.offline import init_notebook_mode, iplot
init_notebook_mode(connect=True)

ModuleNotFoundError: No module named 'plotly'

In [1]:
import plotly.plotly as py

ModuleNotFoundError: No module named 'plotly'